@charset "utf-8";

#wrap {
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
}

/* header */

header {
    width: 100%;
    height: 100px;
    position: fixed;
    z-index: 99;
}

.header_wrap {
    max-width: 1920px;
    width: 100%;
    height: 100px;
    background-color:  #111;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_wrap h1 {
    width: 15%;
    text-align: center;
}

.header_wrap h1 img {
    display: inline-block;
}

nav {
    width: 65%;
}

.gnb {
    float: right;
    padding-right: 3%;
}

.gnb li {
    float: left;
    padding: 20px;
}

.gnb li a {
    color: #fff;
    font-size: 20px;
}

.sns_icons {
    width: 15%;
}

.sns_icons a img {
    float: left;
    padding-right: 20px;
}

.sidemenu_wrap {
    display: none;
}

/* main visual */

.main_visual {
    width: 100%;
    height: 600px;
    margin-top: 100px;
}

.slick1 div {
    width: 100%;
    height: 600px;
}

.slick1 .mv1 {
    background: url(../img/main/main_visual1.png) no-repeat center;
    background-size: cover;
}

.slick1 .mv2 {
    background: url(../img/main/main_visual2.png) no-repeat center;
    background-size: cover;
}

.slick1 .mv3 {
    background: url(../img/main/main_visual3.png) no-repeat center;
    background-size: cover;
}

.slick1 .slick-prev {
    left: 3%;
    z-index: 8;
}

.slick1 .slick-prev:before {
    font-family: 'xeicon';
    content: '\e93b';
    color: #aaa;
    font-size: 30px;
}

.slick1 .slick-next {
    right: 3%;
    z-index: 8;
}

.slick1 .slick-next:before {
    font-family: 'xeicon';
    content: '\e93e';
    color: #aaa;
    font-size: 30px;
}

.slick1 .slick-dots {
    bottom: 20px;
}

/* contents1 */

.contents1 {
    max-width: 1320px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.contents1_title {
    width: 100%;
    height: 150px;
    display: table;
}

.contents1_title h2 {
    font-size: 2rem;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.album_box {
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px;
}

.album_box div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.album_box div a {
    width: 20%;
}

.album_box div a img {
    width: 100%;
}

/* contents2 */

.contents2 {
    width: 100%;
    height: 820px;
    background: url(../img/main/contents2_bg.png) no-repeat center;
    background-size: cover;
}

.contents2_title {
    width: 100%;
    overflow: hidden;
    padding-top: 100px;
}

.contents2_title h2 {
    color: #fff;
    font-size: 2rem;
    text-align: center;
}

.contents2_title h3 {
    font-size: 20px;
    font-weight: 400;
    color: #8fc5c5;
    text-align: center;
    padding-top: 15px;
}

.contents2_box_wrap {
    max-width: 1320px;
    width: 90%;
    height: auto;
    margin: 100px auto 0;
}

.contents2_box1, .contents2_box2,
.contents2_box3, .contents2_box4 {
    width: 315px;
    height: 425px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.contents2_box1 > a img,
.contents2_box2 > a img,
.contents2_box3 > a img,
.contents2_box4 > a img {
    border-radius: 10px;
    width: 100%;
}

.artist1_name, .artist2_name,
.artist3_name, .artist4_name {
    margin: 20px 0 20px;
}

.artist1_name h4, .artist2_name h4,
.artist3_name h4, .artist4_name h4 {
    display: inline;
    font-size: 20px;
    font-weight: bold;
}

.artist1_name h5, .artist2_name h5,
.artist3_name h5, .artist4_name h5 {
    display: inline;
    font-size: 13px;
    color: #38c7ca;
    margin-left: 10px;
}

.contents2_box1 p, .contents2_box2 p,
.contents2_box3 p, .contents2_box4 p {
    font-size: 14px;
    line-height: 23px;
}

.artist1_icons, .artist2_icons,
.artist3_icons,.artist4_icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.artist1_icons a, .artist2_icons a,
.artist3_icons a, .artist4_icons a {
    margin-left: 20px;
}

.artist1_icons a:first-child,
.artist2_icons a:first-child,
.artist3_icons a:first-child,
.artist4_icons a:first-child {
    margin: 0;
}

.slick2 .slick-prev {
    width: 32px;
    height: 32px;
    left: -5%;
}

.slick2 .slick-prev:before {
    font-size: 32px;
    color: transparent;
    background: url(../img/main/prev_circled.png) no-repeat center;
    background-size: cover;
}

.slick2 .slick-next {
    width: 32px;
    height: 32px;
    right: -5%;
}

.slick2 .slick-next:before {
    font-size: 32px;
    color: transparent;
    background: url(../img/main/next_circled.png) no-repeat center;
    background-size: cover;
}

.slick2 .slick-slide {
    width: 315px !important;
    margin: 0 10px;
}


/* contents3 */

.contents3 {
    max-width: 1320px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.contents3_title {
    width: 100%;
    height: 150px;
    display: table;
    position: relative;
}

.contents3_title h2 {
    font-size: 2rem;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.contents3_title a {
    font-size: 20px;
    position: absolute;
    top: 75px;
    right: 0;
}

.clips {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

/* contents4 */

.contents4 {
    width: 100%;
    overflow: hidden;
    background-color: #eee;
    margin-bottom: 100px;
}

.contents4_box {
    max-width: 1320px;
    width: 100%;
    height: 436px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contents4_imgbox {
    width: 50%;
    display: flex;
    align-items: center;
}

.contents4_imgbox img {
    width: 100%;
}

.contents4_txtbox {
    display: inline-block;
    width: 40%;
}

.contents4_txtbox h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 70px;
}

.contents4_txtbox p {
    font-size: 1rem;
    line-height: 30px;
    margin: 20px 0 25px;
}

.contents4_txtbox a {
    display: inline-block;
    width: 40%;
    height: 10%;
    line-height: 2.5;
    text-align: center;
    background-color: #111;
    color: #fff;
}

.contents4_txtbox a:last-child {
    margin-left: 30px;
}

.contents4_txtbox a:hover {
    outline: none;
    background-color: #38c7ca;
}

/* footer */

footer {
    width: 100%;
    height: 200px;
    background-color: #111;
    display: table;
}

.footer_wrap {
    max-width: 1320px;
    width: 100%;
    height: 200px;
    margin: 0 auto;
    text-align: center;
    font-size: 1rem;
    display: table-cell;
    vertical-align: middle;
}

.footer_nav {
    margin: 30px auto;
}

.footer_wrap img, .footer_wrap ul li {
    display: inline-block;
}

.footer_wrap ul li::after {
    content: ' l ';
    margin: 0 10px;
    font-size: 1rem;
    color: #fff;
}

.footer_wrap ul li:last-child::after {
    content: '';
    margin: 0;
}

.footer_wrap ul li a, .footer_wrap p {
    color: #fff;
}

/* Media Query */

/* Tablet */

@media screen and (min-width:992px) and (max-width:1190px) {
    /* sns 아이콘 박스 무너지는 부분 */
    .sns_icons {
        display: none;
    }
}

@media screen and (min-width:769px) and (max-width:1024px) {
    #wrap {
        max-width: 1024px;
        width: 100%;
        overflow: hidden;
    }

    .gnb, .sns_icons {
        display: none;
    }

    .sidemenu_wrap {
        display: block;
        width: 15%;
    }

    .sidemenu_btn {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        position: relative;
        z-index: 9;
    }
    
    .sidemenu_btn:before {
        font-family: 'xeicon';
        content: '\e91c';
        color: #fff;
        font-size: 30px;
        cursor: pointer;
    }

    .sidemenu_gnb {
        display: none;
        width: 20rem;
        height: 100vh;
        background: rgba(0, 0, 0, .5);
        position: absolute;
        top: 0;
        right: 0;
    }

    .sidemenu_gnb ul {
        width: 80%;
        position: absolute;
        top: 10%;
        left: 15%;
    }

    .sidemenu_gnb ul li {
        padding: 15% 10%;
        font-size: 2.5vw;
    }

    .sidemenu_gnb ul li a {
        color: #fff;
    }

    .sidemenu_gnb ul li:hover {
        border-bottom: 1px solid #fff;
    }

    /* contents1 (Tablet) */

    .contents1 {
        max-width: 1024px;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }

    .contents1_title h2 {
        font-size: 4vw;
    }

    /* contents2 (Tablet) */

    .contents2 h2 {
        font-size: 3.5vw;
    }
    
    .contents2 h3 {
        font-size: 2vw;
    }

    .contents2_box_wrap {
        max-width: 1024px;
        width: 80%;
        height: auto;
        margin: 100px auto 0;
    }
    
    /* contents3 (Tablet) */
    
    .contents3_title h2 {
        font-size: 3.5vw;
    }
    
    .contents3_title a {
        font-size: 2vw;
        position: absolute;
        top: 75px;
        right: 0;
    }
    
    .clips {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .clips iframe {
        width: 33%;
    }

    /* contents4 (Tablet) */

    .contents4_imgbox {
        margin: 10% 5% 10% 0;
    }
    
    .contents4_txtbox {
        display: inline-block;
        width: 40%;
    }
    
    .contents4_txtbox h2 {
        font-size: 5vw;
        font-weight: 800;
        margin-top: 70px;
    }
    
    .contents4_txtbox p {
        font-size: 1.7vw;
        line-height: 30px;
        margin: 20px 0 25px;
    }
    
    .contents4_txtbox a {
        display: inline-block;
        width: 40%;
        height: 10%;
        line-height: 2.5;
        text-align: center;
        background-color: #111;
        color: #fff;
    }

    /* footer (Tablet) */

    footer {
        width: 100%;
        overflow: hidden;
        background-color: #111;
    }
    
    .footer_wrap {
        max-width: 1024px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 5% 0;
        text-align: center;
        font-size: 2vw;
    }

    .footer_wrap img {
        width: 70%;
    }
    
    .footer_nav {
        margin: 5% auto;
    }
    
    .footer_wrap img, .footer_wrap ul li {
        display: inline-block;
    }
    
    .footer_wrap ul li::after {
        content: ' l ';
        margin: 0 10px;
        font-size: 2vw;
        color: #fff;
    }
    
    .footer_wrap ul li:last-child::after {
        content: '';
        margin: 0;
    }
    
    .footer_wrap ul li a, .footer_wrap p {
        color: #fff;
    }
}

/* Mobile */

@media screen and (min-width:480px) and (max-width:768px) {
    #wrap {
        max-width: 768px;
        width: 100%;
        overflow: hidden;
    }
    
    .gnb, .sns_icons {
        display: none;
    }

    .sidemenu_wrap {
        display: block;
        width: 15%;
    }

    .sidemenu_btn {
        width: 30px;
        height: 30px;
        margin: 0 auto;
        position: relative;
        z-index: 9;
    }
    
    .sidemenu_btn:before {
        font-family: 'xeicon';
        content: '\e91c';
        color: #fff;
        font-size: 30px;
        cursor: pointer;
    }

    .sidemenu_gnb {
        display: none;
        width: 20rem;
        height: 100vh;
        background: rgba(0, 0, 0, .5);
        position: absolute;
        top: 0;
        right: 0;
    }

    .sidemenu_gnb ul {
        width: 80%;
        position: absolute;
        top: 10%;
        left: 15%;
    }

    .sidemenu_gnb ul li {
        padding: 15% 10%;
        font-size: 2.5vw;
    }

    .sidemenu_gnb ul li a {
        color: #fff;
    }

    .sidemenu_gnb ul li:hover {
        border-bottom: 1px solid #fff;
    }

    /* contents1 (Mobile) */

    .contents1 {
        max-width: 768px;
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }

    .contents1_title h2 {
        font-size: 5vw;
    }

    /* contents2 (Mobile) */

    .contents2 h2 {
        font-size: 5vw;
    }
    
    .contents2 h3 {
        font-size: 3vw;
    }
    
    .contents2_btn a:first-child {
        position: absolute;
        top: 487px;
        left: 8%;
    }
    
    .contents2_btn a:last-child {
        position: absolute;
        top: 487px;
        right: 8%;
    }

    .contents2_box1 {
        margin: 0 auto;
    }

    .contents2_box2 {
        display: none;
    }

    .contents2_box3 {
        display: none;
    }

    .contents2_box4 {
        display: none;
    }

    /* contents3 (Mobile) */

    .contents3_title h2 {
        font-size: 5vw;
    }
    
    .contents3_title a {
        font-size: 3vw;
        position: absolute;
        top: 75px;
        right: 0;
    }
    
    .clips {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        margin-bottom: 100px;
    }

    .clips iframe {
        width: 80%;
        margin: 0 auto 50px;
    }

    .clips iframe:last-child {
        margin-bottom: 0;
    }

    /* contents4 (Mobile) */

    .contents4_box {
        max-width: 768px;
        width: 100%;
        height: auto;
        display: unset;
    }
    
    .contents4_imgbox {
        width: 100%;
        margin: 50px auto 0;
        display: unset;
    }
    
    .contents4_imgbox img {
        width: 100%;
    }
    
    .contents4_txtbox {
        display: block;
        width: 90%;
        margin: 0 auto 50px;
    }
    
    .contents4_txtbox h2 {
        font-size: 5vw;
        margin-top: 50px;
        text-align: center;
    }
    
    .contents4_txtbox p {
        font-size: 2.3vw;
        line-height: 30px;
        margin: 50px 0;
        text-align: center;
    }

    .contents4_txtbox div {
        text-align: center;
    }
    
    .contents4_txtbox div a {
        display: inline-block;
        width: 40%;
        height: 10%;
        line-height: 2.5;
        text-align: center;
        background-color: #111;
        color: #fff;
    }

    /* footer (Mobile) */

    footer {
        width: 100%;
        overflow: hidden;
        background-color: #111;
    }
    
    .footer_wrap {
        max-width: 768px;
        width: 100%;
        height: auto;
        margin: 0 auto;
        padding: 5% 0;
        text-align: center;
        font-size: 2vw;
    }

    .footer_wrap img {
        width: 70%;
    }
    
    .footer_nav {
        margin: 5% auto;
    }
    
    .footer_wrap img, .footer_wrap ul li {
        display: inline-block;
    }
    
    .footer_wrap ul li::after {
        content: ' l ';
        margin: 0 10px;
        font-size: 2vw;
        color: #fff;
    }
    
    .footer_wrap ul li:last-child::after {
        content: '';
        margin: 0;
    }
    
    .footer_wrap ul li a, .footer_wrap p {
        color: #fff;
    }
}