@charset "utf-8";

#wrap {
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
}

/* main visual */

.main_visual {
    width: 100%;
    height: 600px;
    margin-top: 100px;
}

.slick1 div {
    width: 100%;
    height: 600px;
}

.slick1 .mv1 {
    background: url(../img/main/main_visual1.png) no-repeat center;
    background-size: cover;
}

.slick1 .mv2 {
    background: url(../img/main/main_visual2.png) no-repeat center;
    background-size: cover;
}

.slick1 .mv3 {
    background: url(../img/main/main_visual3.png) no-repeat center;
    background-size: cover;
}

.slick1 .slick-prev {
    left: 3%;
    z-index: 8;
}

.slick1 .slick-prev:before {
    font-family: 'xeicon';
    content: '\e93b';
    color: #aaa;
    font-size: 30px;
}

.slick1 .slick-next {
    right: 3%;
    z-index: 8;
}

.slick1 .slick-next:before {
    font-family: 'xeicon';
    content: '\e93e';
    color: #aaa;
    font-size: 30px;
}

.slick1 .slick-dots {
    bottom: 20px;
}

/* contents1 */

.contents1 {
    max-width: 1320px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.contents1_title {
    width: 100%;
    height: 150px;
    display: table;
}

.contents1_title h2 {
    font-size: 3rem;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.con1_boxWrap {
    width: 100%;
    overflow: hidden;
    margin-bottom: 100px;
}

.con1_albumBox {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.con1_albumBox a {
    width: 20%;
}

/* contents2 */

.contents2 {
    width: 100%;
    height: 820px;
    background: url(../img/main/contents2_bg.png) no-repeat center;
    background-size: cover;
}

.contents2_title {
    width: 100%;
    overflow: hidden;
    padding-top: 100px;
}

.contents2_title h2 {
    color: #fff;
    font-size: 3rem;
    text-align: center;
}

.contents2_title h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #8fc5c5;
    text-align: center;
    padding-top: 15px;
}

.contents2_boxWrap {
    max-width: 1320px;
    width: 90%;
    height: auto;
    margin: 100px auto 0;
}

.contents2_box {
    width: 315px;
    height: 425px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}

.contents2_box > a img {
    border-radius: 10px;
    width: 100%;
}

.artist_name {
    margin: 20px 0 20px;
}

.artist_name h4 {
    display: inline;
    font-size: 20px;
    font-weight: bold;
}

.artist_name h5 {
    display: inline;
    font-size: 13px;
    color: #38c7ca;
    margin-left: 10px;
}

.artist_introduction {
    font-size: 14px;
    line-height: 23px;
}

.artist_icons {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.artist_icons a {
    margin-left: 20px;
}

.artist_icons a:first-child{
    margin: 0;
}

.slick2 .slick-prev {
    width: 32px;
    height: 32px;
    left: -5%;
}

.slick2 .slick-prev:before {
    font-size: 32px;
    color: transparent;
    background: url(../img/main/prev_circled.png) no-repeat center;
    background-size: cover;
}

.slick2 .slick-next {
    width: 32px;
    height: 32px;
    right: -5%;
}

.slick2 .slick-next:before {
    font-size: 32px;
    color: transparent;
    background: url(../img/main/next_circled.png) no-repeat center;
    background-size: cover;
}

.slick2 .slick-slide {
    margin: 0 10px;
}


/* contents3 */

.contents3 {
    max-width: 1320px;
    width: 100%;
    overflow: hidden;
    margin: 0 auto;
}

.contents3_title {
    width: 100%;
    height: 150px;
    display: table;
    position: relative;
}

.contents3_title h2 {
    font-size: 3rem;
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.contents3_title a {
    font-size: 2rem;
    position: absolute;
    top: 80px;
    right: 3%;
}

.clips {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
}

.clips iframe {
    width: 32%;
    height: 240px;
    border: none;
}

/* contents4 */

.contents4 {
    width: 100%;
    overflow: hidden;
    background-color: #eee;
    margin-bottom: 100px;
}

.contents4_box {
    max-width: 1320px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.contents4_imgbox {
    width: 50%;
    display: flex;
    align-items: center;
}

.contents4_txtbox {
    display: inline-block;
    width: 40%;
}

.contents4_txtbox h2 {
    font-size: 3rem;
    font-weight: 800;
    margin-top: 70px;
}

.contents4_txtbox p {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px;
    margin: 30px 0;
}

.contents4_btn {
    width: 100%;
    height: 40px;
}

.contents4_btn a {
    display: inline-block;
    width: 40%;
    height: 40px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 2.5;
    text-align: center;
    background-color: #111;
    color: #fff;
}

.contents4_txtbox a:last-child {
    margin-left: 10%;
}

.contents4_txtbox a:hover {
    outline: none;
    background-color: #38c7ca;
}



/* Media Query */


@media screen and (max-width:1024px) {
    #wrap {
        max-width: 1024px;
    }

    .contents1 {
        max-width: 1024px;
    }

    .contents2_box_wrap {
        max-width: 1024px;
    }

    .contents3 {
        max-width: 1024px;
    }

    .contents3_title a {
        right: 10%;
    }

    .clips {
        width: 90%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        margin-bottom: 100px;
    }

    .contents4_box {
        width: 90%;
    }
    
    .contents4_txtbox h2 {
        margin-top: 20px;
    }

    .contents4_txtbox p {
        margin: 20px 0;
    }    
}

/* Mobile */

@media screen and (max-width:768px) {
    #wrap {
        max-width: 768px;
    }

    .contents1 {
        max-width: 768px;
    }

    .con1_albumBox {
        width: 90%;
        margin: 0 auto;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
    }

    .con1_albumBox a {
        width: 50%;
        text-align: center;
    }

    .contents3_title a {
        top: 100px;
    }
    
    .clips {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: unset;
        margin-bottom: 100px;
    }

    .clips iframe {
        width: 80%;
        height: 330px;
        margin: 0 auto 50px;
    }

    .clips iframe:last-child {
        margin-bottom: 0;
    }

    .contents4_box {
        max-width: 768px;
        display: unset;
    }
    
    .contents4_imgbox {
        margin: 50px auto 0;
        display: unset;
    }
    
    .contents4_txtbox {
        display: block;
        width: 90%;
        margin: 0 auto 50px;
    }
    
    .contents4_txtbox h2 {
        margin-top: 50px;
        text-align: center;
    }
    
    .contents4_txtbox p {
        font-size: 1.3rem;
        line-height: 30px;
        margin: 50px 0;
        text-align: center;
    }

    .contents4_btn {
        text-align: center;
    }
}