@charset "utf-8";

#wrap {
    max-width: 1920px;
    width: 100%;
    overflow: hidden;
}

/* contents */

.contents_wrap {
    max-width: 1320px;
    width: 100%;
    overflow: hidden;
    margin: 100px auto 200px;
}

/* contents1 */

.contents1_title {
    width: 100%;
    height: 300px;
    display: table;
}

.contents1_title h2 {
    font-size: 4rem;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.contents1 {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.contents1 .bg_circle_large {
    width: 887px;
    height: 887px;
    background: url(../img/sub1/bg_circle_L.png) no-repeat;
    position: absolute;
    top: 654px;
    left: 92px;
    animation: circle_l 10s linear infinite normal;
}

@keyframes circle_l {
    from {
        top: 654px;
        left: 92px;
    }
    25% {
        top: 300px;
        left: 427px;
    }
    50% {
        top: 0;
        left: 225px;
    }
    75% {
        top: 347px;
        left: 0;
    }
    to {
        top: 654px;
        left: 92px;
    }
}

.contents1 .bg_circle_small {
    width: 617px;
    height: 617px;
    background: url(../img/sub1/bg_circle_S.png) no-repeat;
    position: absolute;
    top: 173px;
    left: 447px;
    animation: circle_s 10s linear infinite normal;
}

@keyframes circle_s {
    from {
        top: 173px;
        left: 447px;
    }
    25% {
        top: 917px;
        left: 703px;
    }
    50% {
        top: 520px;
        left: 0px;
    }
    75% {
        top: 0;
        left: 112px;
    }
    to {
        top: 173px;
        left: 447px;
    }
}

/* contents1 - box1, box3 */

.con1_box {
    width: 100%;
    height: 420px;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-between;
}

.con1_imgbox_L {
    width: 48%;
    position: relative;
}

.con1_img {
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 8;
}

.con1_img_bg {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 7;
}

.con1_txtbox_R {
    width: 48%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.con1_txtbox_L h3, .con1_txtbox_R h3 {
    font-size: 3.2rem;
    color: #555;
}

.con1_txtbox_L p, .con1_txtbox_R p {
    font-size: 1.6rem;
    font-weight: 600;
    color: #777;
    line-height: 40px;
}

/* contents1 - box2 */

.con1_box2 {
    width: 100%;
    height: 420px;
    margin-bottom: 150px;
}

.con1_txtbox_L {
    width: 48%;
    height: inherit;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.con1_imgbox_R {
    width: 48%;
    position: relative;
    float: right;
}

.con1_img2 {
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 8;
}

.con1_img_bg2 {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 7;
}

/* contents2 */

.contents2 {
    width: 100%;
    overflow: hidden;
}

.contents2_title {
    width: 100%;
    height: 150px;
    text-align: center;
}

.contents2_title h2 {
    font-size: 4rem;
}

.contents2_title h3 {
    font-size: 2rem;
    font-weight: 400;
    color: #8fc5c5;
    margin-top: 15px;
}

.contents2_logos {
    width: 100%;
    height: 500px;
    padding: 10px 0;
}

.contents2_logos ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.contents2_logos ul li {
    width: 25%;
    padding: 30px;
    text-align: center;
}

.contents2_logos ul li:nth-child(2) img {
    width: 40%;
}

/* contents3 */

.contents3 {
    width: 100%;
    overflow: hidden;
}

.contents3_title {
    width: 100%;
    height: 100px;
    display: table;
}

.contents3_title h2 {
    font-size: 4rem;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.contents3_box {
    width: 100%;
    height: 420px;
    margin-top: 50px;
}

.contents3_box_left {
    width: 57%;
    height: inherit;
    float: left;
    line-height: 40px;
    padding: 50px 0;
    font-size: 1.8rem;
    font-weight: 600;
}

.contents3_box_left img, .contents3_box_left p {
    display: inline-block;
    vertical-align: middle;
    padding: 10px;
    color: #555;
}

.contents3_box_right {
    width: 43%;
    float: right;
}




/* Media Query */

@media screen and (max-width:1024px) {
    #wrap {
        max-width: 1024px;
    }

    /* contents1 */

    .contents_wrap {
        max-width: 1024px;
    }

    @keyframes circle_l {
        from {
            top: 154px;
            left: 92px;
        }
        25% {
            top: 100px;
            left: 127px;
        }
        50% {
            top: 0;
            left: 225px;
        }
        75% {
            top: 237px;
            left: 0;
        }
        to {
            top: 154px;
            left: 92px;
        }
    }

    @keyframes circle_s {
        from {
            top: 173px;
            left: 447px;
        }
        25% {
            top: 400px;
            left: 503px;
        }
        50% {
            top: 500px;
            left: 0px;
        }
        75% {
            top: 0;
            left: 112px;
        }
        to {
            top: 173px;
            left: 447px;
        }
    }
    
    /* contents1 - box1, box3 */

    .con1_box {
        width: 90%;
        height: auto;
        margin: 0 auto 100px;
        display: block;
    }
    
    .con1_imgbox_L {
        width: 67.3%;
        height: 420px;
        margin: 0 auto 100px;
        display: block;
    }
    
    .con1_txtbox_R {
        width: 90%;
        display: block;
        text-align: center;
        margin: 0 auto;
    }
    
    .con1_txtbox_L h3, .con1_txtbox_R h3 {
        font-size: 3rem;
    }
    
    .con1_txtbox_L p, .con1_txtbox_R p {
        margin-top: 50px;
        font-size: 2rem;
    }

    /* contents1 - box2 */

    .con1_box2 {
        width: 90%;
        height: auto;
        margin: 0 auto 150px;
    }

    .con1_txtbox_L {
        width: 100%;
        text-align: center;
        display: block;
    }
    
    .con1_imgbox_R {
        width: 67.3%;
        height: 420px;
        margin: 0 auto 100px;
        display: block;
        float: unset;
    }

    /* contents2 */

    .contents2_title {
        height: auto;
        margin: 100px auto 50px;
    }

    .contents2_logos {
        width: 90%;
        height: auto;
        margin: 0 auto;
        padding: 0;
    }

    .contents2_logos ul li {
        width: 25%;
        padding: 5%;
    }

    .contents2_logos ul li:nth-child(2) img {
        width: 80%;
    }

    /* contents3 */

    .contents3_title {
        height: auto;
        margin: 150px auto 0;
    }

    .contents3_box {
        width: 100%;
        height: auto;
    }

    .contents3_box_left {
        width: 90%;
        float: unset;
        line-height: 2;
        font-size: 2rem;
        margin: 0 auto;
    }

    .contents3_box_right {
        width: 90%;
        float: unset;
        margin: 0 auto;
    }

    .contents3_box_right iframe {
        width: 100%;
    }
}


@media screen and (max-width:768px) {
    #wrap {
        max-width: 768px;
    }

    .contents_wrap {
        max-width: 768px;
    }

    .bg_circle_large, .bg_circle_small {
        display: none;
    }

    /* contents1 - box1, box3 */

    .con1_box {
        width: 90%;
        height: auto;
        margin: 0 auto 100px;
        display: block;
    }
    
    .con1_imgbox_L {
        width: 100%;
        height: auto;
        text-align: center;
    }

    .con1_img, .con1_img2 {
        position: unset;
    }

    .con1_img_bg, .con1_img_bg2 {
        display: none;
    }
    
    .con1_txtbox_L h3, .con1_txtbox_R h3 {
        font-size: 2.8rem;
    }
    
    .con1_txtbox_L p, .con1_txtbox_R p {
        font-size: 1.8rem;
    }

    /* contents1 - box2 */

    .con1_box2 {
        width: 90%;
        height: auto;
        margin: 0 auto 100px;
    }
    
    .con1_imgbox_R {
        width: 100%;
        height: auto;
        text-align: center;
    }

    /* contents2 */

    .contents2_title {
        margin: 100px auto 50px;
    }

    .contents2_logos ul li {
        width: 33.3%;
    }

    .contents2_logos ul li img {
        width: 80%;
        margin: 0 auto;
    }

    .contents2_logos ul li:nth-child(2) img {
        width: 60%;
    }

    /* contents3 */

    .contents3_title {
        margin: 150px auto 50px;
    }

    .contents3_box {
        width: 90%;
        margin: 0 auto;
    }

    .contents3_box_left {
        padding: 0;
        margin-bottom: 50px;
        font-size: 1.8rem;
    }

    .contents3_box_left > div {
        text-align: center;
    }

    .contents3_box_left p {
        width: 90%;
        text-align: left;
    }
}

@media screen and (max-width:700px) {
    
    .contents3_box_left p {
        text-align: center;
    }
}